body,
html {
  width: devicewidth;
  height: deviceheight;
  font-family: 'Montserrat', sans-serif;
  background: rgb(67, 40, 218) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row2{
  margin-left: 10%;
  margin-right: 10%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid black; 
  
}

.heading{
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 10px ;
  margin-top: 40px ;
  text-decoration: none;
  font-size: 40px;
} 

#submitButton {   
       background-color: rgb(37, 20, 168);   
       width: 70%;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   

#submitButton:hover {   
        opacity: 0.7;   
    }   

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

#selected-folder, #filesubmit, .file-submit{
  float: center;
  font-size: 1.25em;
}

.progressBar{
    background-color:red;
    height:20px;
    width:0%;
}

.progressBgbar{
    background-color:white;
    height:20px;
    margin-left:10%;
    margin-bottom:10px;
    width:90%;
    max-width: 90%;
}

.progressBarName{
    color:#f2f2f2;
    height:20px;
    width:80%;
    max-width: 80%;
    text-align: left;
    white-space: nowrap;
    margin-bottom:10px;
    overflow: hidden;
    text-overflow: ellipsis;
}